{% extends 'base.html.twig' %}

{% block title %}Our series | {{ parent() }}{% endblock %}

{% block main %}
<h1>Our series</h1>
    <ul>
    {% for serie in series %}
        <li><a href="{{ path('serie_details', {'id': serie.id }) }}">{{ serie.name }} ({{ serie.vote }})</a></li>
    {% endfor %}
    </ul>
{% endblock %}
